.login-page {
    text-align: center;
    height: 100vh;
    position: relative;
}

/*Estilos del formulario*/
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;               
    max-width: 400px;           /* mantiene el tamaño que tenías */ 
    padding: 2rem;
    border: 2px solid black;
    background: white;          /* evita que el fondo se vea transparente */
    border-radius: 6px;         
}
.form input {
  width: 100%;               /* que ocupen todo el ancho disponible */
  padding: 0.5em;            /* espacio interno */
  margin-bottom: 0.8em;      /* separación entre inputs */
  border: 1px solid;    /* línea suave */
  border-radius: 4px;        /* esquinas redondeadas */
  font-size: 1em;
  background-color: #f3f6ff; /* color suave */
}
.form button {
  width: 100%;
  padding: 0.6em;
  background-color: #4a6cf7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 0.5em;
}

.form button:hover {
  background-color: #3a58d4;
}
/*Boton para crear cuenta*/
.form a {
  display: block;
  margin-top: 0.6em;
  text-align: center;
  font-size: 0.9em;
  color: #5a28c8;
  text-decoration: none;
  
}

.form a:hover {
  text-decoration: underline;
}
